.table-heading {
  color: orange !important;
  font-weight: bold !important;
}
.container {
  max-height: 71.5vh !important;
  /* width: 50vw !important; */
  margin: 1rem;
}
.state-hover {
  background-color: #f5d7d7 !important;
}

@media screen and (max-width: 1238px) {
  .container {
    width: 96vw !important;
  }
}
